/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* == CSS Variables == */
:root {
    /* === COLORS === */
    --color-primary:#2563eb;
    --color-primary-dark:#1d4ed8;
    --color-secondary:#0f172a;
    --color-white:#ffffff;
    --color-light:#faf8fc;
    --color-gray:#64748b;
    --color-border:#e2e8f0;
    --color-success:#22c55e;
    --color-danger:#ef4444;

    /* === TYPOGRAPHY === */
    --font-family:'poppins', sans-serif;
    --fs-small:0.875rem;
    --fs-normal:1rem;
    --fs-medium:1.125rem;
    --fs-large:2rem;
    --fs-xl:3rem;
    --fs-xxl:4rem;

    /* === FONT WEIGHT === */
    --fw-light:300;
    --fw-medium:500;
    --fw-regular:400;
    --fw-semibold:600;
    --fw-bold:700;

    /* === SPACING === */
    --space-xs:0.5rem;
    --space-sm:1rem;
    --space-md:1.5rem;
    --space-lg:2rem;
    --space-xl:4rem;
    --space-xxl:6rem;

    /* === BORDER RADIUS === */
    --radius-sm:5px;
    --radius-md:10px;
    --radius-lg:20px;
    --radius-round:50%;

    /* === SHADOW === */
    --shadow-sm: 0 2px 10px rgba(0,0,0,0.08);
    --shadow-md: 0 8px 20px rgba(0,0,0,0.12);
    --shadow-lg: 0 15px 35px rgba(0,0,0,0.15);

    /* === TRANSITION === */
    --transition : all 0.3s ease;

}
/* ===== CSS RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
 body {
    font-family: var(--font-family);
    font-size: var(--fs-normal);
    background-color: var(--color-white);
    color: var(--color-secondary);
    line-height: 1.6;
    overflow-x: hidden;
 }

 /* ===== IMG ===== */
 img {
    display: block;
    max-width: 100%;
    height: auto;

 }

 /* ====== LINKS ===== */
 a {
    text-decoration: none;
    color:inherit;
 }

 /* ===== li ===== */
 li {
    list-style: none;
 }

 /* ====== BUTTON ===== */
 button {
    border:none;
    background: none;
    cursor: pointer;
    font:inherit;
 }

 /* ===== FORM ELEMENTS ===== */
 input,
 textarea,
 label,
 button,
 select {
    font-family: inherit;
 }

 /* ===== CONTAINER ===== */
 .container {
    width : min( 90% , 1200px);
    margin-inline: auto;

 }

 /* ===== SECTIONS ===== */
 section {
    padding: 100px 0;

 }

 /* ===== SECTION TITLE ===== */
 .section-title {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    text-align: center;
    margin-bottom: 3rem;
 }

 /* ===== PARAGRAPH ===== */
 p {
    color: var(--color-gray);

 }

 /* ===== BUTTON ===== */
 .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 30px;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--radius-md);
    transition: var(--transition);
    font-weight: var(--fw-medium);
 }
 .btn:hover {
    background: var(--color-primary-dark);
    transition: translateY(-3px);
 }

 /* ===== HEADER ===== */
 .header {
    width: 100%;
    background-color: var(--color-white);
    box-shadow: var(--shadow-sm);
    position: sticky;
    top:0;
    left:0;
    z-index: 1000;

 }
 /* ===== NAVBAR ===== */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
 }
 /* ===== LOGO ===== */
 .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-primary);
 }
 /* ===== NAVIGATION LIST ===== */
 .nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
 }
 /* ===== NAVIGATION LINKS */
 .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-secondary);
    transition: var(--transition);

 }
 .nav-link:hover {
    color: var(--color-primary);

 }
 /* ===== MENU BUTTON ===== */
 .menu-btn {
    display: none;
    font-style: 2rem;
 }

 /* ===== HERO SECTION =====  */
 .hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    background-color: var(--color-light);

 }
 /* ===== HERO WRAPPER ===== */
 .hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
 }
 /* ===== HERO CONTENT ===== */
 .hero-content {
    flex:1;
 }
 .hero-subtitle {
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--color-primary);
    font-size: 1.1rem;
    font-weight: var(--fw-medium);
    letter-spacing: 1px;
 }
 .hero-title {
    margin-bottom: 1.5rem;
    color: var(--color-gray);
    font-size: 2rem;
    font-weight: var(--fw-semibold);

 }
 .hero-description {
    min-width: 600px;
    margin-bottom: 2rem;
    columns: var(--color-gray);
    font-size: 1rem;
    line-height: 1.8;
 }

 /* ===== HERO BUTTONS ===== */
 .hero-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
 }
 .btn {
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
 }
 .btn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
 }
 /* ===== HERO IMAGE ===== */
 .hero-image {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 /* ===== RPOFILE IMAGE ===== */
 .hero-image img {
    width: 400px;
    min-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--shadow-lg);
 }


 /* ===== ABOUT SECTION ===== */
 .about {
    background-color: var(--color-white);

 }
 /* ===== ABOUT WRAPPER ===== */
 .about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
 }
 /* ===== ABOUT IMAGE ===== */
 .about-image {
    flex :1;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .about-image img {
    width: 380px;
    min-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-lg);

 }
 /* ===== ABOUT CONTENT ===== */
 .about-content {
    flex:1;

 }
 .about-content .section-title {
    text-align: left;
    margin-bottom: 1.5rem;
 }
 .about-description {
    margin-bottom: 2rem;
    color: var(--color-gray);
    line-height: 1.8;
 }
 

 /* ===== SKILLS SECTION ===== */
 .skills {
    background-color: var(--color-light);

 }
 /* ===== SKILLS GRID ===== */
 .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:2rem;
 }
 /* ===== SKILL CARD ===== */
 .skill-card {
    padding: 2rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    text-align: center;
    box-shadow: var(--shadow-sm);
    transition: var(--transition);
 }
 /* ===== SKILL CARD HOVER ===== */
 .skill-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-lg);
 }
 /* ===== SKILL IMAGE ===== */
 .skill-card img {
    width: 70px;
    height: 70px;
    margin-inline: auto;
    margin-bottom: 1.5rem;
    object-fit: contain;
 }
 /* ===== SKILL TITLE ===== */
 .skill-title {
    margin-bottom: 0.75rem;
    color: var(--color-secondary);
    font-size: 1.35rem;
    font-weight: var(--fw-semibold);

 }
 /* ===== SKILL DESCRIPTION ===== */
 .skill-description {
    color: var(--color-gray);
    font-size: .95rem;
    line-height: 1.7;
 }

 /* ===== PROJECT SECTION ===== */
 .projects {
    background-color: var(--color-white);

 }
 /* ===== PROJECTS GRID ===== */
 .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap:2rem;

 }
 /* ===== PROJECT CARD ===== */
 .project-card {
    overflow: hidden;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    transition: var(--transition);
 }
 .project-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-lg);
 }
 .project-image {
    width: 100%;
    height: 220px;
    object-fit: cover;

 }
 /* ===== PROJECT CONTENT ===== */
 .project-content {
    padding: 1.5rem;

 }
 /* ===== PROJECT TITLE ===== */
 .project-title {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);

 }
 /* ===== PROJECT DESCRIPTION ===== */
 .project-description {
    margin-bottom: 1rem;
    color: var(--color-gray);
    line-height: 1.7rem;

 }
 /* ===== PROJECT TECHNOLOGY ===== */
 .project-tech {
    margin-bottom: 1.5rem;
    color: var(--color-primary);
    font-size: .95rem;
    font-weight: var(--fs-medium);

 }
 /* ===== PROJECT LINKS ===== */
 .project-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

 }
 .project-links .btn {
    flex:1;
    text-align: center;
 }
 /* .project-card{
    display: flex;
    flex-direction: column;
}

.project-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-links{
    margin-top: auto;
}
.project-card:focus-within{
    transform: translateY(-10px);
    box-shadow: var(--shadow-lg);
} */

/* ===== CONTACT SECTION ===== */
.contact {
    background-color: var(--color-light);

}
/* ===== CONTACT WRAPPER ===== */
.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}
/* ==== CONTACT INFO ===== */
.contact-info {
    flex: 1;

}
.contact-title {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: var(--fw-bold);

}
.contact-description {
    margin-bottom: 2rem;
    line-height: 1.8;
}
/* ===== CONTACT DETAILS ===== */
.contact-details {
    display: grid;
    gap: 1rem;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: 1rem;
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    transition: var(--transition);


}
.contact-item:hover {
    transform: translateY(-8px);
}
/* ===== CONTACT FORM ===== */
.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
/* ===== FORM INPUT ===== */
.form-input,
.form-textarea {
    width: 100%;
    padding: 1rem;
    bottom: 1px solid var(--color-border);
    outline:none;
    background-color: var(--color-white);
    color: var(--color-secondary);
    font-size: 1rem;
    transition: var(--transition);

}
.form-textarea {
    min-height: 180px;
    resize: vertical;
}
/* ===== INPUT FOCUS ===== */
.form-input:focus,
.form-textarea:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px rgb(37,99,235,.15);
}
/* ==== SUBMIT BIUTTON ===== */
.contact-form .btn {
    align-self: flex-start;
}

/* ==== FOOTER =====*/
.footer{
    padding:4rem 0 2rem;
    background-color:var(--color-secondary);
    color:var(--color-white);
}


/*===== FOOTER WRAPPER =====*/
.footer-wrapper{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:3rem;
    margin-bottom:3rem;
}
/*===== FOOTER CONTENT =====*/
.footer-content{
    flex:1;
}
.footer-logo{
    margin-bottom:1rem;
    color:var(--color-white);
    font-size:2rem;
    font-weight:var(--fw-bold);
}
.footer-text{
    max-width:400px;
    color:#cbd5e1;
    line-height:1.8;
}
/*===== FOOTER SOCIAL =====*/
.footer-social{
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
}
/*===== SOCIAL LINKS =====*/
.social-link{
    padding:.75rem 1.25rem;
    border:1px solid rgba(255,255,255,.2);
    border-radius:var(--radius-md);
    color:var(--color-white);
    transition:var(--transition);
}
.social-link:hover{
    background-color:var(--color-primary);
    border-color:var(--color-primary);
    transform:translateY(-5px);
}
/*===== FOOTER BOTTOM =====*/
.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
    padding-top:2rem;
    border-top:1px solid rgba(255,255,255,.15);
}
/*===== COPYRIGHT =====*/
.footer-bottom p{
    color:#cbd5e1;
}
/*====== BACK TO TOP =====*/
.back-to-top{
    color:var(--color-white);
    font-weight:var(--fw-medium);
    transition:var(--transition);
}
.back-to-top:hover{
    color:var(--color-primary);
}

.footer-social img {
    width: 70px;
    height: 70px;
    margin-inline: auto;
    margin-bottom: 1.5rem;
    object-fit: contain;
}